
@{
    ViewBag.Title = "İlan Fotoğraf Ekle";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<div style="background-color:white;border-radius:20px;padding:15px;">


    <h2>İlan Fotoğraf Ekle</h2>


    <div class="panel">
        <hr />
        <br />
        <form action="/OwnageNotices/ownageNoticesPictureAdd/" method="post" enctype="multipart/form-data">
            <input type="hidden" name="notice_ID" value="@Model" />
            <div class="form-group">
                <label class="control-label col-md-3">Resim</label>
                <div class="controls col-md-9">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                        <span class="btn btn-white btn-file">
                            <span class="fileupload-new"><i class="icon-paper-clip"></i> Resim Seç</span>
                            <input type="file" name="fileUpload" class="default" />
                        </span>
                        <span class="fileupload-preview" style="margin-left:5px;"></span>
                        <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
                    </div>
                    <br />
                </div>
            </div>
            <input type="submit" style="margin-left:347px;" class="button" name="save" value="Kaydet" />
        </form>
        <br />
    </div>

</div>