@model List<petscare.Models.pets>

@{
    ViewBag.Title = "Petler";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <br/>
            <h3>Bir çok @Model[0].pets_species.pets_speciesname dostumuz seni bekliyor </h3>
            <a href="/OwnageNotices/ownageNoticesFilterLikeGender">Sende hemen ilanlara göz at ve bir dost edin.</a>
            <p></p>
         
            <p class="gap"></p>
        </div>
        <div class="col-md-9">
            <br/>
            <h6></h6>
            <div id="scroller" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">

                            @for (int i = 0; i < Model.Count(); i++)
                            {

                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            @if (Model[i].pets_breed != null)
                                            {
                                                <img style="width:210px;height:150px;padding-left:5px;" alt="" src="@Model[i].pets_breed.pets_breedpictureextension" />
                                            }
                                            else
                                            {
                                                <img style="width:210px;height:150px;padding-left:5px;" alt="resim" src="" />

                                            }
                                            <h5 style="text-align:center;">
                                                @Html.DisplayFor(modelItem => Model[i].pets_breed.pets_breedname)

                                            </h5>
                                            <div class="overlay" style="padding-top:70px;">
                                                @Html.ActionLink("Görüntüle", "PetsDetail", "Site", new { id = Model[i].pets_ID }, new { style = "color:orange;" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>